<html lang="kr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:url" content="http://dl.dropbox.com/s/re2aewqmhvn4cym/meta_smilegate.png">
    <meta property="og:title" content="[Simlegate] URL Shortener">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://dl.dropbox.com/s/re2aewqmhvn4cym/meta_smilegate.png">
    <meta property="og:description" content="2018 Server Development Camp">
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
    <title>URL Shortener</title>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/custom.min.css')}}" rel="stylesheet">
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <img src="http://dl.dropbox.com/s/jhsdg6lnpv4ml90/Smilegate_logo_page.png" width="250px">
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">URL Shortener</h1>
            {# Start message part. This part wil be triggered only when there is some messages to show.#}
            {%with messages = get_flashed_messages()%}
            	{% if messages %}
            		{% for message in messages %}
		            	<div class="alert alert-danger alert-dismissible" role="alert">
		  					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  					<p><span class="glyphicon glyphicon-alert" aria-hidden="true"></span><strong> 주의!</strong> {{message}}</p>
						</div>
					{% endfor %}
            	{% endif %}
            {% endwith %}
            {# End message part.#}
            <form class="lead" action="{{url_for('home')}}" method="POST" accept-charset="utf-8">
            	{{ form.hidden_tag() }}
            	<div class="form-group {% if form.long_url.errors %} has-error {% endif %}">
            		{{ form.long_url(placeholder="Paste a link to shorten it", class="form-control") }}
            	</div>
            	<p class="lead">
            		<input type="submit" name="submit" value="SHORTEN" class="btn btn-lg btn-default">
            	</p>
            </form>
          </div>
          <div class="row">
			<div class="col-sm-2">
		    </div>
	        <div class="col-sm-8">
	        	{# Start short URL part. This part wil be triggered only when there is a generated short URL to show.#}
	            {%if short_url%}
	            <div class="input-group  input-group-lg">
	  				<input type="url" class="form-control" value="{{short_url}}" id="clipboard" >
	  				<span class="input-group-btn">
	  				<button class="btn btn-success" type="button" data-clipboard-target="#clipboard"><span id="clipboard" class="glyphicon glyphicon-copy" aria-hidden="true"></span> Copy!</button>
	  				</span>
				</div>
				{%endif%}
				{# End short URL part.#}
			</div>
			<div class="col-sm-2">
		    </div>
		    </div>
          <div class="mastfoot">
          	<div class="inner">
            	<center><h4>{{number}} Links Shortened</h4></center>
              	<p>Developed by <a href="https://github.com/tmfdk333">Seul A Kim</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <script src="{{url_for('static', filename='js/clipboard.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/custom.min.js')}}"></script>
  </body>
</html>